.classic-language-bar button {border: 0px;}
.classic-language-bar button:active {border: 0px;}
.classic-language-bar .dropdown-menu {left: 0px;margin-left: 0rem;}
.blog .blog-details .meta-top i {margin-left: 5px;}

.addons_sec .addon_card .addons_icon {right:unset;left: 25px;}

.container-fluid {margin-right: 0px;}